# Restrict all files related to organization management to org admins.

.github/workflows/          @django-commons/admins
.github/CODEOWNERS          @django-commons/admins
terraform/                  @django-commons/admins
scripts/                    @django-commons/admins
