name: "Apply org changes"

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/production/*.tfvars'
      - 'terraform/*.tf'
      - '.github/workflows/apply.yml'
      - '.github/workflows/plan.yml'

concurrency:
  group: terraform-actions

jobs:
  apply-changes:
    name: "Org changes apply"
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: terraform apply
        # v1.44.0
        uses: dflook/terraform-apply@5489b988934a50bf1489d5b7c5253b46520a7dca
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
        with:
          path: "terraform"
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/production/org.tfvars
            terraform/production/repositories.tfvars

      - name: Commit changes
        if: ${{ always() }}
        # v0.10.0
        uses: devops-infra/action-commit-push@8a2d9d73c3f506468129be2e4409e60dbed70357
        with:
          github_token: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
          commit_prefix: "[AUTO]"
          commit_message: "State changes after apply"
          force: false
