name: "Apply org changes"

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/production/*.tfvars'
      - 'terraform/*.tf'
      - '.github/workflows/apply.yml'
      - '.github/workflows/plan.yml'

concurrency:
  group: terraform-actions

jobs:
  apply-changes:
    name: "Org changes apply"
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: terraform apply
        # v2.2.2
        # Use the commit hash for security hardening
        # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
        uses: dflook/terraform-apply@7a9d257a248c7357c1b1af7f09ff5fef8e0abb78
        env:
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: "terraform"
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/production/org.tfvars
            terraform/production/repositories.tfvars

      - name: Commit changes
        if: ${{ always() }}
        # v1.0.3
        uses: devops-infra/action-commit-push@8a2d9d73c3f506468129be2e4409e60dbed70357
        with:
          github_token: "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          commit_prefix: "[AUTO]"
          commit_message: "State changes after apply"
          force: false
