name: "Apply org membership changes"

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/production/org.tfvars'
      - 'terraform/members/*.tf'
      - '.github/workflows/members-apply.yml'
      - '.github/workflows/members-plan.yml'

concurrency:
  group: terraform-actions

jobs:
  apply-changes:
    name: "Org changes apply"
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - name: terraform apply
        # v1.44.0
        uses: dflook/terraform-apply@8f47d0ad9f3cb9e50fd6b3595c0cb98f00c518df
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
        with:
          path: "terraform/members"
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/production/org.tfvars

      - name: Commit changes
        if: ${{ always() }}
        # v0.10.0
        uses: devops-infra/action-commit-push@8a2d9d73c3f506468129be2e4409e60dbed70357
        with:
          github_token: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
          commit_prefix: "[AUTO]"
          commit_message: "State changes after apply"
          force: false
