name: "Plan org membership changes and list them in a PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/org.tfvars'
      - 'terraform/members/*.tf'
      - '.github/workflows/members-apply.yml'
      # Do not trigger the plan action when it's been changed since this action has write permissions

concurrency:
  group: terraform-actions-members

jobs:
  format-terraform-code:
    name: "Check Terraform code formatting"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    timeout-minutes: 4
    steps:
      - name: Checkout code
        uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false

      - name: terraform fmt check
        uses: dflook/terraform-fmt-check@59168426e242f665bf7b70644d706224e665056a  # v2.2.3
        with:
          path: "terraform/members"

  org-plan-changes:
    name: "Plan org membership changes and list them in a PR"
    runs-on: ubuntu-latest
    needs: ["format-terraform-code"]
    permissions:
      pull-requests: write
      contents: read
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false

      - name: terraform plan
        uses: dflook/terraform-plan@7878bff63e2099cdc9be9a6f33cbbbf687f8f0fe  # v2.2.3
        env:
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          add_github_comment: true
          path: "terraform/members"
          label: 'members'
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/org.tfvars
