name: "Plan org changes and list them in a PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/production/*.tfvars'
      - 'terraform/*.tf'

concurrency:
  group: terraform-actions

jobs:
  format-terraform-code:
    name: "Format Terraform code"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: "${{ github.event.pull_request.head.ref }}"
          persist-credentials: false


      - name: terraform fmt
        # v2.2.2
        uses: dflook/terraform-fmt@7a9d257a248c7357c1b1af7f09ff5fef8e0abb78
        with:
          path: "terraform"

      - name: Commit changes
        # v1.0.3
        uses: devops-infra/action-commit-push@8a2d9d73c3f506468129be2e4409e60dbed70357
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          commit_prefix: "[AUTO]"
          commit_message: "Format code"
          force: false
#          target_branch: "${{ github.event.pull_request.head.ref }}"

  plan-changes:
    name: "Org changes plan"
    runs-on: ubuntu-latest
    needs: [ "format-terraform-code" ]
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: terraform plan
        # v2.2.2
        # Use the commit hash for security hardening
        # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
        uses: dflook/terraform-plan@7a9d257a248c7357c1b1af7f09ff5fef8e0abb78
        env:
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          add_github_comment: true
          path: "terraform"
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/production/org.tfvars
            terraform/production/repositories.tfvars
