name: "Plan org repositories changes and list them in a PR"
on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/repositories.tfvars'
      - 'terraform/repositories/*.tf'
      - '.github/workflows/repos-apply.yml'
      # Do not trigger the plan action when it's been changed since this action has write permissions

concurrency:
  group: terraform-actions-repos

jobs:
  format-terraform-code:
    name: "Check Terraform code formatting"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    timeout-minutes: 4
    steps:
      - name: Checkout code
        uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false

      - name: terraform fmt check
        uses: dflook/terraform-fmt-check@10eaa13fa61437aa51be2d12fafe95f152e3512d  # v2.2.2
        with:
          path: "terraform/repositories"

  repos-plan-changes:
    name: "Plan org-repositories changes and list them in a PR"
    runs-on: ubuntu-latest
    needs: ["format-terraform-code"]
    permissions:
      pull-requests: write
      contents: read
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false

      - name: terraform plan
        uses: dflook/terraform-plan@dc251c444763eed5defd065b866874b6343017ca  # v2.2.2
        env:
          TERRAFORM_ACTIONS_GITHUB_TOKEN: ${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          add_github_comment: true
          path: "terraform/repositories"
          label: 'repos'
          variables: |
            github_token = "${{ secrets.TERRAFORM_MANAGEMENT_GITHUB_TOKEN }}"
          var_file: |
            terraform/repositories.tfvars
